 body {
     display: flex;
     min-height: 100vh;
     flex-direction: column;
     background-color: #565c65;
     color: white;
  }

  main {
    flex: 1 0 auto;
  }

header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
ol{
    list-style: none;
}
#slide-out{
    background-color: #6f757d;
    
    li{
        .user-view{
            .background{
                background-color: #168282;
            }
            img.circle{
                width: 150px;
                height: 150px;
                margin: 0 auto;
            }
        }
        
        a{
            color: white;
            
            &:hover{
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }
}

.sidenav-trigger{
    i{
        padding: 20px;
    }
}

.title{
    font-size: 3.5em;
    font-weight: 400;
}

.subtitle{
    font-size: 2em;
    font-weight: 200;
}

.text-justify{
    text-align: justify;
}

.f-36{
    font-size: 36px;
}

.fw-300{
    font-weight: 300;
}

.d-inline-block{
    display: inline-block;
}

.skills-progress{
    position: relative;
    width: 150px;
    height: 150px;
}

.typed-cursor{
    font-size: 3em;
}

.mt-50{
    margin-top: 50px;
}

.mt-130{
    margin-top: 130px;
}

#sobre-background{
    position: fixed;
    top: 0;
    z-index: -1;
    opacity: 0.1;
}

h2.center{
    position: relative;
}
h2.center:before{
    left: 0;
}

h2.center:after{
    right: 0;
}
h2.center:after, h2.center:before{
    position: absolute;
    top: 50%;
    display: block;
    width: 30%;
    border-bottom: 5px solid rgba(0, 0, 0, 0.25);
    content: "";
}